.cardPrint{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    gap: 1rem;
   }
.button{
    display: flex;
    gap: 10px;
    padding-top: 30px;
   
}
.button2{
    margin-right: 20px;
}
.ready{
    background-color: rgb(213, 238, 214);
   margin-top: 80px;
   border-radius: 3px;
   height: 190px;
 
}
