#div-footer{
    background-color: rgb(49, 49, 197);
}

footer{
    color: white;
    font-size: large;
    
}
#footer-anchor-color{
    font-size: small;
}
#footer-anchor-color:hover{
    color: white;
    text-decoration: underline;
  }
  #footer-anchor-color:visited{
      color: white;
  }