.boy{
    height: 300px;
    width:100% ;
    position: relative;
}
/* .icon-circle img{
    width: 5rem;
    background-color: aqua; 
     height: 5rem;
} 
img{
vertical-align: middle;
border-style: none;
}  */